Numerológia

<form>
  <label></label>
  <input type="text" />
</form>

<!--
  TODO lista:

  tabok:
  - mátrix
    - inputok:
      - vezetéknév: text
      - keresztnév: text
      - születési idő:
          év: number
          hó: dropdown [1-12],
          nap: dropdown [1-hónap_utolsó_napja],
          óra: dropdown [00-23],
          perc: dropdown [00-59]
    - checkbox a vezetéknév megjelenítésére
    - név megjelenítése számokkal (msh-k betűk alatt, mgh-k betűk felett)
    - számpiramis
  - napkereső (milyen napom van?)
    - adott dátumon milyen napom lesz (pl. 3/5/9)
    - mikor lesz legközelebb adott kombináció
  - kapcsolati számok
    - TODO
  - függvény a számjegyek összeadására (rekurzívan?)
  - betű-szám összerendelés:
    - ciklussal összerakva
    {
      A: 1
      B: 2
      ...
      Z: 8
    }
  - mátrix adatstruktúra:

-->
